body{
	background-color: #E6E6FA;
	margin:0 auto;
	max-width: 1200px;
}
button{
	background-color: #7f7fe6;;
	border: 2px solid #7f7fe6;
	font-size: 15px;
	padding: 32px 16px;
	float: center;
}

button:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	transition: 0.5s;
	cursor: pointer;
}

.titre{
	margin:0 auto;
	text-align: center;
	color: #00008B;
	font-size: 45px;
}
.def{
	text-align: center;
	color: #A52A2A;
}
.homm,.femm{
	display: table-cell;
	padding-bottom: 20px;
	padding-left: 100px;
	font-family: Comic Sans MS;
	color: #A52A2A;
}
.info1,.info2{
	display: table-cell;
	padding-left: 150px;
}
.ensplat1,.ensplat2,.ensplat3{
	display: table-cell;
}
.ensplat2,.ensplat3{
	padding-left: 180px;
}
.menunav{
	padding-left: 250px;
	padding-bottom: 20px;
}
.VI,.VR{
	color:  #00008B;
	font-weight: bold;
}
.vosinfos,.votrerepas{
	background-color: #D3D3D3;
}

.chomme{
	font-weight: bold;
	font-size: 17px;

}
.cfemme{
	font-weight: bold;
	font-size: 17px;
	
}
.resultat1{
	background-color: green;
	opacity: 0;
}
.resultat2{
	background-color: red;
	position: relative;
	top: -117px;
	opacity: 0;
}
.resultat3{
	background-color: green;
	position: relative;
	top: -234px;
	opacity: 0;
}
.resultat4{
	background-color: green;
	position: relative;
	top: -350px;
	opacity: 0;
}
.dvalid{
	padding-top: 20px;
}
.valid{
	font-weight: bold;
	padding:10px 567px;
}